
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0E0807;
}

.navbar {
    background-color: #0E0807;
    height: 40px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.quickscroll {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-grow: 1;
    height: 100%; 
    text-align: center;
    padding: 0 10px;
}

.navbtn {
    display: flex;
    height: 100%; 
    padding: 0px 20px;
    margin: 0;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    align-items: center;
    font-size: 20px;
}

.navbtn:hover {
    background-color: #E6CCB2;
    color: #391F0F;
}

.navbarlogo {
    padding-right: 20px;
    height: 60px;
}

.splashpage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 100%;
    height: 80vh;
}

.heroimage {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.content {
    display: flex;
    background-color: #0E0807;
    padding: 50px;
}

.filter-sidebar {
    width: 20%;
    background-color: #EEDFD0;
    padding: 15px;
    border-right: 2px solid #ddd;
    height: 230px;
    border-radius: 8px;
}

.loldisempty {
    height: 75px;
    background-color: red;
}

.filter-sidebar {
    width: 20%;
    background-color: #EEDFD0;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filter-checkbox {
    margin-right: 10px;
}

.menu-container {
    width: 80%;
    padding-left: 30px;
}

.menu-heading {
    font-size: 2em;
    font-family: 'Cursive', serif;
    color: #EEDFD0;
    text-align: center;
    margin-bottom: 20px;
}

.menugrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.menu-item {
    display: flex;
    background-color: #FAF4EF;
    border: 2px solid #7F5539;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    align-items: center;
}

.menu-text {
    flex: 1;
    padding-left: 20px;
}

.menu-text h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.menu-text p {
    font-size: 1em;
    line-height: 1.4;
}

.menu-image img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
}
.menu-heading {
    grid-column: span 2; 
    background-color: #EEDFD0;
    font-size: 2em;
    color: black;
    border-bottom: 2px solid #7F5539;
    padding-bottom: 10px;
}
.divider {
    grid-column: span 2; 
    background-color: #EEDFD0;
    height: 50px; 
    margin: 10px 0; 
    border: 2px solid #7F5539;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.divider::after {
    content: '';
    display: block;
    height: 100%;
}