@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0E0807;
    box-sizing: border-box;
}

.navbar {
    background-color: #0E0807;
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.quickscroll {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-grow: 1;
    height: 100%; 
    text-align: center;
    padding: 0 10px;
}

.navbtn {
    display: flex;
    height: 100%; 
    padding: 0px 20px;
    margin: 0;
    cursor: pointer;
    color: #EEDFD0;
    transition: background-color 0.3s, color 0.3s;
    align-items: center;
    font-size: 30px;
    font-family: "Lateef", sans-serif;
}

.navbtn:hover {
    background-color: #E6CCB2;
    color: #391F0F;
}

.navbarlogo {
    padding-right: 20px;
    height: 60px;
}

.splashpage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 86vh;
    overflow: hidden;
    background-image: url('./images/hero_image.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    background-repeat: no-repeat;
}

.splashbtn {
    background-color: #EEDFD0;
    color: black;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    bottom: 200px;
}

.splashbtn:hover {
    background-color: #391F0F; 
    transform: translateX(-50%) scale(1.1);
    color: #EEDFD0;
}

.heroimage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.content {
    display: flex;
    background-color: #0E0807;
    padding: 50px;
}

.filter-sidebar {
    width: 20%;
    background-color: #EEDFD0;
    padding: 10px;
    border-right: 2px solid #ddd;
    height: 230px;
    border-radius: 8px;
    font-family: "Lateef", sans-serif;
    font-size: 30px;
    height: fit-content;
    line-height: 20px;
}

.filter-sidebar {
    width: 20%;
    background-color: #EEDFD0;
    padding-left: 30px;
    padding-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filter-checkbox {
    margin-right: 10px;
}

.menu-container {
    width: 80%;
    padding-left: 30px;
}

.menu-heading {
    font-size: 2em;
    font-family: 'Cursive', serif;
    color: #EEDFD0;
    text-align: center;
    margin-bottom: 20px;
}

.menugrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.menu-item {
    display: flex;
    background-color: #EEDFD0;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.menu-item.hidden {
    opacity: 0;
    visibility: hidden;
}
.menu-item.visible {
    opacity: 1;
    visibility: visible;
}

.menu-text {
    flex: 1;
    padding-left: 20px;
    font-family: "Lateef", sans-serif;
    font-size: 20px;
}

.menu-text h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.menu-text p {
    font-size: 1em;
    line-height: 1.4;
}

.menu-image img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}
.menu-heading {
    grid-column: span 2; 
    background-color: #EEDFD0;
    font-size: 2em;
    color: black;
    padding-bottom: 10px;
}
.divider {
    grid-column: span 2; 
    background-color: #EEDFD0;
    height: 50px; 
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.divider::after {
    content: '';
    display: block;
    height: 100%;
}

.hidden {
    display: none;
}


.menuTitle{
    font-size: 50px;
    padding: 0;
    margin: 0;
    margin-top: -10px;
    width: 100%;
    font-family: "Moon Dance", sans-serif;
    text-align: center;
}

.header{
    background-color: #EEDFD0;
    width: 1435px;
    height: 250px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

.headerText {
    font-family: "Moon Dance", sans-serif;
    font-size: 40px;
    margin-top: -25px;
}

.headerimg {
    height: 190px;
    width: 688px;
    padding-top: 40px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    accent-color: #3B1404;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.setlistText{
    font-family: "Lateef", sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}

.headerSetlist{
    background-color: #EEDFD0;
    width: 1435px;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 10px;
    flex-direction: column;
}

.setlistHeader{
    font-size: 50px;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    margin-top: -10px;
    width: 100%;
    font-family: "Moon Dance", sans-serif;
    text-align: center;
}

.titleHeader{
    background-color: #EEDFD0;
    font-size: 2em;
    color: black;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 50px;
    width: 1435px;
    margin-left: auto;
    margin-right: auto;
}

.informationText{
    font-family: "Lateef", sans-serif;
    font-size: 30px;
    text-align: left;
    font-weight: 400;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 30px;
}